from a_rtd.sphinx_ext import apply_defaults

project = {{ variables.site_name | tojson }}
author = {{ variables.author | tojson }}
a_rtd_theme_description = {{ variables.description | tojson }}
a_rtd_example_js_files = {{ variables.example_js_files | tojson }}
extensions = ["a_rtd.sphinx_ext"]

apply_defaults(globals())
